rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fact_cheki_transaction/{docId} {
      allow read, delete: if request.auth == null || resource.data.userId == request.auth.uid;
      allow create, update: if (request.auth == null || request.resource.data.userId == request.auth.uid) && ((request.resource.data.member != "" && request.resource.data.member != null) || (request.resource.data.date != "" && request.resource.data.date != null));
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
